@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title: {
            text: "Women Nobel Laureates"
        },
        subtitles: [{
            text: "from 1903 to 2015"
        }],
        axisY: {
            title: "Number of Nobel Prizes",
            gridThickness: 0
        },
        data: [{
            type: "bar",
            indexLabel: "{y}",
            dataPoints: @Html.Raw(ViewBag.DataPoints),
            }]
});
chart.render();

}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>
</html>           